<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Envelopes.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3DD4A47B3E44B99DCF829079A7D9F957A00501C8</string>
				<key>dateExpires</key>
				<string>9/24/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BTNZK5EYHZ.dbw.Envelopes</string>
				<key>com.apple.developer.team-identifier</key>
				<string>BTNZK5EYHZ</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>BTNZK5EYHZ.dbw.Envelopes</string>
				</array>
			</dict>
			<key>name</key>
			<string>Envelopes.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>926dabfe-68d5-420d-aa1a-091ac643ab59</string>
				<key>dateExpires</key>
				<string>9/25/22</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: dbw.Envelopes</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BTNZK5EYHZ</string>
				<key>name</key>
				<string>Derek Worth</string>
			</dict>
			<key>versionNumber</key>
			<string>4.3</string>
		</dict>
	</array>
</dict>
</plist>
